* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  /* height: 100vh;  */
}

.app__posts {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  object-fit: contain;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.marg {
  margin-left: 10px;
}
